<!DOCTYPE html>
<html>

<head>
    {{>head}} 
    <style>
        body {
            background-image: url(../images/fone.png);
        }
        a{
            color:azure;
        }
    </style>
</head>

<body>
    {{>header}}
    <div class=forWhat>
        <h1>
            <p>
                <font size="6" color="white" face="Bebas">Должно быть интерессно...</font>
            </p>
        </h1>
    </div>

    <div class="usersCombo"><img src="../images/instagram2.png" width="600" hight="600"></div>
{{>footer}}
</body>
</html>