*{
    margin: 0;
    padding: 0;
    }
    a{
    text-decoration: none;
    }
    li{
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
    text-decoration: none;
    list-style:none;
    }
    body{
    position: relative;
    background-image: url('/images/firstanimatedpage.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation-iteration-count: infinite;
    font-family: 'Raleway', sans-serif;
    }
    
    .logo{
    width:100%;
    display: flex;
    justify-content: center;
    }
    ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    width:99.3%;
    display: flex;
    justify-content: center;
    }
    ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #0065ca; /* Рамка вокруг текста */
    border-radius: 50%;
    padding: 3px; /* Поля вокруг текста */
    
    }
    .topNav{
    width:100%;
    display: flex;
    justify-content: center;
    }
    .bodyText{
    min-width:10cm;
    margin-top: 5cm;
    padding-bottom: 4cm;
    margin-left: 2cm;
    margin-right: 15cm;
    }
    .usersCombo{
    margin-top: 1cm;
    width:100%;
    display: flex;
    justify-content: center;
    }
    .prof{
    width: 100%;
    display: flex;
    justify-content: center;
    
    }
    .biography{
    min-width:10cm;
    margin-top: 1cm;
    padding-bottom: 4cm;
    margin-left: 2cm;
    margin-right: 7cm;
    }
    .table{
    margin-top: 1cm;
    padding-bottom: 1cm;
    margin-left: 15.5cm;
    margin-right: 20cm;
    }
    .spaceB{
    margin-top: 0.5cm;
    border-radius: 15%;
    
    }
    .bodyTextTask{
    min-width:10cm;
    margin-top: 3cm;
    padding-bottom: 4cm;
    margin-left: 9cm;
    margin-right: 7cm;
    }
    .forWhat{
    min-width:10cm;
    margin-top: 1cm;
    width:100%;
    display: flex;
    justify-content: center;
    }
    .spaceCr{
    margin-left: 1cm;
    }
    .someblockright{
    margin-right:3cm;
    }
    .pagination {
        margin-left:15cm;
    justify-content: center;
    display: inline-block;
    }
    .pagination a {

    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    }
    
    .pagination a.active {
    background-color: #4CAF50;
    color: white;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}
    .search {
        /* устанавливаем необходимую ширину формы в зависимости от дизайна
        ** форма без проблем растягивается */
        width: 35%;
      
        /* кнопку отправки будем позиционировать абсолютно,
        ** поэтому необходимо это свойство */
        position: relative;
      }
      
      
      