<!DOCTYPE html>
<html>

<head>
{{>head}}
    <style>
        body {
            background-image: url(../images/fone.png);
        }
        a{
            color:azure;
        }
    </style>
</head>

<body>
    {{>header}}
    <div class=forWhat>
        <h1>
            <p>
                <font size="6" color="white" face="Bebas">Для чего это нужно?</font>
            </p>
        </h1>
    </div>
    <div class="usersCombo">
            <div class="spaceCr"><img src="../images/inst1.png" width="300"hight="300"></div>
            <div class="spaceCr"><img src="../images/inst2.gif"width="300"hight="300"></div>
            <div class="spaceCr"><img src="../images/inst3.gif"width="300"hight="300"></div>
            </p>
        </div>
    <div class="biography">
        <p> 
            <font size="6" color="white" face="Bebas">₪ Та для того,что бы поднять 
                себе настроение.Такая мода 
                очень распространенная сейчас.Тем более ты можешь узнать что делают твою друзья,даже не задавая тупых вопросов по типу "что делаешь?:)        </p>
    </div>
    {{>footer}}
</body>

</html>