<!DOCTYPE html>
<html>

<head>
{{>head}}
    <style>
        body {
            background-image: url(../images/cool-background.png);
        }
        img {
            border-radius: 50%;

        }

        h3 {
            margin-top: 1cm;
        }
    </style>
</head>

<body>
   {{>header}}
    <div class="usersCombo">
        <img src="../images/users2.png" alt="Alex" width="300" height="300">

    </div>

    <div class="logo">
        <h3>Alex Atamanchuk</h3>
    </div>
    <div class="prof">
        <p>(Alex) </p>
    </div>
    <div class="biography">
        <p>
            <font face="Times New Roman" style="font-size:20px"><i><b>Очень умный парень,староста 
                КП-71,сдал ЗНО с матана на 199,ходит на плаванье,   
                имеет очень много друзей и вообще, очень общительный
                 парень.А самое интерессное, что он из Житомира, ходил в 20-ю школу,закончил её с золотой медалью, любит выпить, но не алкоголик!</b></i></font>
        </p>
    </div>
    {{>footer}}
</body>

</html>